//variables

//color
$color-white: #f5f5fa;
$color-pure-white: #ffffff;
$color-blue: #231d4f;
$color-beige: #f2dad5;
$color-violet: #bb6bd9;
$color-violet-dark: #a847cc;
$color-gray: #848199;
$color-toolbox: #7b72c1;
$color-american-blue: #403879;

//font-weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
